
*{
    font-family: iransans;
}
body{
    direction: rtl;
}

#main{
    width: 1000px;
    margin: 10px auto 0;
}

#header img{
    width: 1000px;
    height: 200px;
}

#newsForm{
    margin: 5px auto 0;
}